.container-form{
    border: 2px solid grey;
    padding: 15px;
    position: relative;
    left: 0;
    right: 0;
    margin: 50px;
    border-radius: 7px;
}
#button{
    margin: 10px;
}

.mgtprop{
    margin-top: 20px;
    margin-left: 20px;
}